{% extends 'booknote/base.html' %}

{% block content %}
    {% if books %}
        <div class="columns bookshelf">
        {% for book in books %}

            <div class="column">
                <a href="{% url 'booknote:book' book.id %}">
                    {% if book.cover_url %}
                        <img class="book-cover" src="{{book.cover_url}}" alt="{{book.book_title}}">
                    {% else %}
                        <div class="book-placeholder"></div>
                    {% endif %}
                    <!--
                    <h2>{{book.book_title}}</h2>
                    <ul class="tags">
                        {% for tag in book.tags.all %}
                        <li>
                            {{tag}}
                        </li>
                        {% endfor %}
                    </ul>
                    -->
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="columns bookshelf">
            {% endif %}
        {% endfor %}
        </div>

    {% else %}
        <p>You don't have any book.</p>
    {% endif %}

{% endblock %}